<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum de Ander Gonzalez
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <h1>Formación academica</h1><br>
        <ul>
        	<li>2016 / 2018 Administración De Sistemas Informáticos En Red (GS), IES Xabier Zubiri Manteo BHI</li><br>
			<li>0 / 2020 Desarrollo De Aplicaciones Web (GS), IES Xabier Zubiri Manteo BHI</li>
		</ul>
      </ion-card-content>
    </ion-card>
</ion-content>