<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum de Ander Gonzalez
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <h1>Introducir nuevo dato</h1>
      </ion-card-content>
    	<form action='' method='POST'>
    		<label>Tipo de dato</label>&nbsp;&nbsp;
    		<select name="tipo">
			  <option value="formacionAcademica">Formacion Academica</option>
			  <option value="experienciaProfesional">Experiencia Profesional</option>
			  <option value="idiomas">Idiomas</option>
    		</select>
			<label>Dato</label>&nbsp;&nbsp;<input type="text" name="nuevoDato"><br>
			<input type="submit" value="Insertar" name="insertar">
		</form>
    </ion-card>
</ion-content>
