<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum de Ander Gonzalez
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <h1>Datos personales</h1>
          <label style="font-weight: bold;">Nombre y apellidos</label>&nbsp;&nbsp;Gonzalez Ameztoy, Ander<br>
          <label style="font-weight: bold;">Dirección</label>&nbsp;&nbsp;Donosti Plaza 2<br>
          <label style="font-weight: bold;">Localidad</label>&nbsp;&nbsp;Oiartzun<br>
          <label style="font-weight: bold;">Código postal</label>&nbsp;&nbsp;20180<br>
          <label style="font-weight: bold;">Provincia</label>&nbsp;&nbsp;Gipuzkoa<br>
          <label style="font-weight: bold;">Fecha nacimiento</label>&nbsp;&nbsp;11-02-1997<br>
          <label style="font-weight: bold;">Teléfono(s)</label>&nbsp;&nbsp;943494611 / 659815583<br>
          <label style="font-weight: bold;">E-mail</label>&nbsp;&nbsp;angoaminf3@gmail.com
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item href="formacion-academica">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Formacion academica</ion-label>
          </ion-item>
          <ion-item href="experiencia-profesional">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Experiencia profesional</ion-label>
          </ion-item>
          <ion-item href="idiomas">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>Idiomas</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>